<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="HateksDepoQr.Properties.Settings.DepoQrConnectionString1"
      connectionString="Data Source=EMREHAMURCU\SQLEXPRESS;Initial Catalog=DepoQr;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="HateksDepoQr.Properties.Settings.DepoQrConnectionString"
      connectionString="Data Source=HATEKSMRPTEST;initial catalog=HateksPurchasing;User ID=sa;Password=Emrhmrc.95 ;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="HateksDepoQr.Properties.Settings.DepoQrConnectionString2"
      connectionString="Data Source=HATEKSMRPTEST;Initial Catalog=DepoQr;Persist Security Info=True;User ID=sa;Password=Emrhmrc.95"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>

